* {
	background-color: transparent;
}

html,body {
	height: 100%;
}

body {
	background-color: #e8e8e8;
	color: #666;
	direction: ltr;
	font-family: arial, sans-serif;
	font-size: 14px;
	margin: 0;
	min-width: 800px;
	padding: 0;
	min-width: 800px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07);
	display: none;
}

.water-flow-container:hover::-webkit-scrollbar-thumb{
	display: block;
}

/*需要定义一个hover， 才能正确触发上面的滚动条样式*/
.water-flow-container:hover{
	background: transparent;
}

::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px;
}

/**取消chrome默认样式及 textarea 拖放大小*/
input,button,select,textarea {
	outline: none
}

textarea {
	resize: none
}

.kb-nav {
	background: #f5f5f5;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	min-width: 300px;
}

.task-board {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding-top: 55px
}

.task-board-layout {
	/* position: absolute; */
	left: 0;
	right: 0;
	bottom: 0px;
	/* width: 100%; */
	height: 100%;
	border-collapse: collapse;
	top: 52px;
}

.task-board-layout tbody tr {
	border-top: 1px solid #ccc;
}

.task-board-layout thead tr {
	border-bottom: 3px solid #ccc;
}

.task-board-layout thead {
	height: 50px;
}

.task-board-layout tbody {
	overflow-y: hidden;
}

.task-board-layout td,.task-board-layout th {
	border-left: 1px solid #ccc;
	height: 50px;
	text-align: center;
	font-size: 20px;
	width: 50%;
	min-width: 300px;
}

.task-board-layout td {
	vertical-align: top;
}

.task-board-layout td:FIRST-CHILD,.task-board-layout th:FIRST-CHILD {
	border-left: 0;
}

.water-flow-container {
	margin: 20px;
	position: static;
	height: 100%;
	overflow-y: auto;
}

.kb-create-controll {
	width: 650px;
	margin: 20px auto 10px auto;
	background-color: #FFF;
	padding: 2px;
}

.kb-create-controll input,textarea {
	border-width: 0;
	display: inline-block;;
	margin: 5px;
	width: 600px;
}


.kb-task-title {
	padding: 15px;
	font-weight: bold;
	font-size: 17px;
}

.kb-task-detail {
	padding: 15px;
	font-size: 14px;
}

.kb-board {
	position: fixed;
	top: 0;
	left: 0;
	bottum: 0;
	right: 0;
	height: 100%;
}

.kb-lane {
	float: left;
	min-width: 300px;
	margin: 3px;
	height: 100%;
	background-color: #e8e8e8;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.74902) 0px 1px 5px, rgb(33, 14, 23)
		0px 0px 10px inset;
}

.kb-lane-title {
	font-weight: bold;
	font-size: 20px;
	padding: 10px 10px 10px 30px;
	border-bottom: 1px solid #CCC;
	background: transparent;
}

.kb-lane-contain {
	height: 100%;
}

.kb-task-card {
	font-size: 30px;
	margin: 8px;
	min-height: 150px;
	background-color: #FFF;
	width : 240px;
	
	display: inline-block;
}

.culomn {
	width: 256px;
	margin: 8px;
	float: left;
	clear: none;
}