* {
	background-color: transparent;
}

html,body {
	height: 100%;
}

body {
	background-color: #e8e8e8;
	color: #666;
	direction: ltr;
	font-family: arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	min-width: 800px;
}



::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07);
}

::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px;
}

.water-flow-container:hover {
	overflow-y: auto;
	overflow-x: hidden;
}

input,button,select,textarea {
	outline: none
}

textarea {
	resize: none
}

.kb-nav {
	background: #f5f5f5;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	min-width: 300px;
}

.task-board {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding-top: 55px
}

.task-board-layout {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	top: 52px;
}

.task-board-layout tbody tr {
	border-top: 1px solid #ccc;
}

.task-board-layout thead tr {
	border-bottom: 3px solid #ccc;
}

.task-board-layout thead {
	height: 50px;
}

.task-board-layout tbody {
	overflow-y: hidden;
}

.task-board-layout td,.task-board-layout th {
	border-left: 1px solid #ccc;
	height: 50px;
	text-align: center;
	font-size: 20px;
	width: 50%;
	min-width: 300px;
	position: relative;
}

.task-board-layout td {
	vertical-align: top;
}

.task-board-layout td:FIRST-CHILD,.task-board-layout th:FIRST-CHILD {
	border-left: 0;
}

.water-flow-container {
	margin: 20px;
	position: absolute;
	overflow: hidden;
	padding-bottom: 0;
	left: 0px;
	right: 0;
	top: 0;
	bottom: 0;
}

.mask {
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #e5e5e5;
	opacity: .75;
	display: none;
}

.mode-dialog {
	position: absolute;
	z-index: 10001;
	top: 60px;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 15px 0px;
}

.kb-create-controll {
	width: 600px;
	background-color: #FFF;
	padding: 2px;
	display: none;
}

.kb-create-controll input,.kb-create-controll textarea {
	border-width: 0;
	display: inline-block;;
	margin: 0px;
	width: 600px;
}

.time-picker-bar{
	padding-left: 16px;
}

.time-picker-bar .date-input {
	width: 128px;
	padding-right: 27px;
	margin-right: -30px;
	padding-left: 6px;
}

.date-input::-webkit-inner-spin-button,.date-input::-webkit-clear-button {
    display: none;
}

.kb-task-card  input,.kb-task-card  textarea {
	border-width: 0;
	display: inline-block;;
	margin: 0px;
	width: 240px;
}

.kb-create-controll-wrapper {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.kb-create-controll-wrapper::-webkit-scrollbar-thumb {
	display: block;
	visibility: visible;
}

.kb-task-title {
	box-sizing: border-box;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Roboto Slab', 'Times New Roman', serif;
	font-size: 17px;
	font-weight: bold;
	border: 0px;
	padding: 15px 15px 0 15px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.kb-task-content-warpper {
	position: relative;
}

.kb-task-content {
	padding: 15px;
	font-size: 14px;
	border-width: 0;
	margin: 0px;
	width: 600px;
	min-height: 100px;
	white-space: pre-wrap;
	width: 100%;
	word-wrap: break-word;
}

.task-content-clone {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	visibility: hidden;
	max-height: 600px;
}

.color-picker {
	position: absolute;
	min-width: 150px;
	border: 1px solid #ccc;
	background: #FFF;
	top: -38px;
	left: -30px;
	padding: 3px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	display: none;
	font-size: 0px;
}

.color-picker:after {
	border: solid #ccc;
	position: absolute;
	width: 8px;
	height: 8px;
	top: 23px;
	content: ' ';
	left: 34px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	border-width: 0px 1px 1px 0px;
}

.color-pick-btn:hover:after {
	position: absolute;
	height: 50px;
	width: 20px;
	content: close-quote;
	/* border: 1px solid; */
	bottom: 0px;
}

.color-option {
	height: 16px;
	width: 16px;
	display: inline-block;
	position: static;
	margin: 2px;
	background: rgb(238, 102, 102);
}

.color-pick-btn:hover .color-picker {
	display: block;
}

.kb-task-mask {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	display: none;
}

.kb-task-toolbar {
	text-align: left;
	padding: 5px 5px 5px 10px;
}

.kb-task-toolbar  .tool-btn {
	margin-left: 10px;
}

.kb-task-card .kb-task-toolbar {
	visibility: hidden;
}

.kb-task-card:hover .kb-task-toolbar {
	visibility: visible;
}

.kb-task-toolbar .glyphicon {
	font-size: 16px;
}

.kb-board {
	position: fixed;
	top: 0;
	left: 0;
	bottum: 0;
	right: 0;
	height: 100%;
}

.kb-lane {
	float: left;
	min-width: 300px;
	margin: 3px;
	height: 100%;
	background-color: #e8e8e8;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.74902) 0px 1px 5px, rgb(33, 14, 23)
		0px 0px 10px inset;
}

.kb-lane-title {
	font-weight: bold;
	font-size: 20px;
	padding: 10px 10px 10px 30px;
	border-bottom: 1px solid #CCC;
	background: transparent;
}

}
.kb-lane-contain {
	height: 100%;
}

.kb-task-card {
	font-size: 30px;
	margin: 8px;
	min-height: 150px;
	background-color: #FFF;
	width: 240px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition-duration: 0.218s;
}

.culomn {
	width: 256px;
	margin: 8px;
	float: left;
	clear: none;
}